Dictionary Comprehention
        It is a phenomenon of creating new dictionary collection by reducing the instruction. 
        var={key:value for val in coll}
        print(var)

In [2]:
#WAP to store the number and its cube as key value pair between range 1 to 10
a={i:i**3 for i in range(1,10)}
print(a)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [6]:
#WAP to store words and its length as key and value pair from a string collection
a={i:len(i) for i in input().split()}
print(a)

{'"I': 2, 'am': 2, 'goood"': 6}

In [15]:
#WAP to store words and its length as key and value pair from a list collection
a={i:len(i) for i in eval(input()) if type(i)==str}
print(a)

{'qwerty': 6, 'ttrhyth': 7}

In [14]:
#WAP to program to store the number and its cube if it is odd number, store the number as it is if it is even 

ab={i:i if i%2==0 else i**3 for i in eval(input())}
print(ab)

{1: 1, 2: 2, 3: 27, 4: 4, 5: 125, 6: 6}

In [3]:
ab={i:i if i%2==0 else i**3 for i in range(1,10)}
print(ab)

{1: 1, 2: 2, 3: 27, 4: 4, 5: 125, 6: 6, 7: 343, 8: 8, 9: 729}

In [ ]:
#WAP to map two list collection 
a=['x','y']
z=[36,19,25]
b={}
if len(a)==len(z):
    for i in range(len(a)):
        b[a[i]]= z[i]
elif len(a)>len(z):
    for i in range(len(z)):
        b[a[i]]= z[i]
else:
    for i in range(len(a)):
        b[a[i]]= z[i]
print(b)

{'x': 36, 'y': 19}

In [28]:
a=['x','y']
z=[36,19,25]
b={}
if len(a)<len(z):
    min=a
else:
    min=z
for i in range(len(min)):
    b[a[i]]= z[i]
print(b)

{'x': 36, 'y': 19}

In [30]:
for i in zip([1,2,30],[5,6,7]):
    print(i)

(1, 5)
(2, 6)
(30, 7)

Zip -
        It is a function which is used to map the collection and return the object.
        To fetch the value it has to be type casted or used in a loop.
        zip(coll1,coll2,colln)
        list(zip(coll1,coll2,colln))

        Whenever it is required to map the collection using for loop zip function can be used.
            for var1,var2,varn in zip(coll1,coll2,colln):
                    S.B
        
        NOTE : THE NUMBER OF VARIABLES MUST BE EQUAL TO NUMBER OF COLLECTION.
        NOTE : WHEN A SINGLE VARIABLE IS USED IN LOOPING IT TAKES THE INDIVIDUAL MAPPED COLLECTION.
        NOTE : IT WILL TAKE ONLY UP TO LEAST LENGTH COLLECTION

In [ ]:
b={}
for i,j in zip([1,2,3],[5,6,7]):
    b[i]=j
print(b)

{1: 5, 2: 6, 3: 7}

In [ ]:
b=dict(zip([1,2,3,4],[4,5,6]))
print(b)

{1: 4, 2: 5, 3: 6}

In [33]:
print(dict(zip(eval(input()),eval(input()))))

{1: 'djj', 2: 'deufu', 3: 'huruf', 4: 'fhruh'}

SQL CONNECTION / Backend Connectivity / Database Connection:
        It is a process of connecting python file to a database.
        It is possible by importing sqlite3 module.
        Syntax:
            import sqlite3 
            var=sqlite3.connect("database.db")

        Cursor function :
            It is used to point to a required location and to executes query.

        Execute function :
            It is used to execute the queries.
        
        Commit function:
            It is used to save the data
        
        Close :
            It is used to close the sqlite3.

        
        Syntax :
            import sqlite3 
            var=sqlite3.connect("database.db")
            cursor()
            execute()
            commit()
            close()
        
        Fetchone :
            It is a function which is used to fetch the first matching record

        Fetchall:
            It is used to fetch all the matching record

In [34]:
import sqlite3 as sql
a=sql.connect('stu.db')
b=a.cursor()

In [35]:
b.execute("Create table student ('name' varchar ,'id' number, 'email' varchar, 'number' number)")

In [37]:
b.execute("Insert into student values('Jensilin', 3034, 'jensi@gmail.com', 6363784224)")

In [38]:
b.execute("Insert into student values('Luffy', 3063, 'lufffy@gmail.com', 789544224)")

In [39]:
b.execute("Insert into student values('Zoro', 3064, 'zoro@gmail.com', 636387456214)")

In [41]:
a.commit()

In [ ]:
print(b.execute("Select * from student").fetchall())

[('Jensilin', 3034, 'jensi@gmail.com', 6363784224), ('Luffy', 3063, 'lufffy@gmail.com', 789544224), ('Zoro', 3064, 'zoro@gmail.com', 636387456214)]

In [45]:
res=b.execute("select name from student where id in (3064,3063)")
print(res.fetchall())

[('Luffy',), ('Zoro',)]

In [48]:
z=b.execute("Select * from student")
print(z.fetchone())

('Jensilin', 3034, 'jensi@gmail.com', 6363784224)

In [50]:
print(list(b.execute("Select * from student where name= 'Luffy'")))

[('Luffy', 3063, 'lufffy@gmail.com', 789544224)]

In [51]:
a.commit()

In [52]:
a.close()